.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.sidebar__profile-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.sidebar__text {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  margin: 0 0 0 16px;
}

.sidebar__avatar-container {
  text-align: center;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 56px;
  margin: 0 0 24px 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__avatar-letter {
  font-family: "Cabinet Grotesk";
  font-size: 56px;
  line-height: 105%;
  font-weight: 700;
  margin: 0;
}

.sidebar__settings-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar__button {
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0 8px 0;
}
