.toggle {
  width: 56px;
  height: 28px;
  position: relative;
  border-radius: 20px;
  border: 2px solid #7e7e7e;
  background: #fff;
  margin: 0 20px 0 0;
}

.toggle__checkbox {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

.toggle__label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle__text {
  z-index: 1;
  width: 28px;
  height: 28px;
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
  align-items: center;
  color: #7e7e7e;
  font-family: Cabinet Grotesk;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.2s ease-in;
}

.toggle__text_on {
  color: #fff;
}

.toggle__circle {
  z-index: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -2px;
  left: -2px;
  border: none;
  border-radius: 20px;
  background: #000;
  transition: transform 0.15s ease-in;
}

.toggle__circle_on {
  transform: translateX(28px);
}
