.modal__container_type_preview {
  width: 498px;
  height: 610px;
  border-radius: 16px;
}

.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 16px 16px 0 0;
}

.modal__group {
  width: 498px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
}

.modal__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border-radius: 0 0 16px 16px;
  margin: 0;
}

.modal__title_type_preview {
  font-size: 20px;
  line-height: 120%;
  margin: 20px auto 0 32px;
}

.modal__weather {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 120%;
  font-weight: 700;
  margin: 12px auto 32px 32px;
}

.modal__close-button_type_preview {
  top: 24px;
  right: 24px;
  background: url("../../images/close-icon-white.svg") center/cover no-repeat;
  cursor: pointer;
}

.modal__delete-button {
  width: 110px;
  height: 24px;
  color: #ff4d00;
  background-color: #fff;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  border: none;
  cursor: pointer;
  margin: 20px 32px 0 0;
}

.modal__delete-button_hidden {
  visibility: hidden;
}
