.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 171px 40px 24px;
}

.footer__text {
  /* font-family: Cabinet Grotesk; */
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  margin: 0;
}
